@model IznajmljivanjeSmestaja.Models.Reservation
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> localizer
@{
    ViewData["Title"] = "sasa";
}



<h3>@localizer["otkaziRezervacijuTitle"]</h3>
<div>
    <h4>@localizer["rezervacija"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCheckin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCheckin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCheckout)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCheckout)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdAccomodation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdAccomodation)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUser)
        </dd>
    </dl>

    <form asp-action="CancelReservation">
        <input type="submit" value="@localizer["cancel"]" class="btn btn-danger" />
        @*<a asp-action="ViewAllReservations">Back to List</a>*@
    </form>
</div>