@model IznajmljivanjeSmestaja.Models.Reservation
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> localizer

@{
    ViewData["Title"] = "Reservation";
}



<h4>@localizer["reservationTitle"]</h4>
<hr />
@if (ViewBag.IsSuccess == true)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@localizer["uspesnaRezervacija"] <br />
        @*@localizer["klik"] <a asp-controller="Admin" asp-action="Details" asp-route-id="@ViewBag.BookId">@localizer["ovde"]</a> @localizer["detalj"]*@
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Reserve">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="DateCheckin" class="control-label"></label>
                <input asp-for="DateCheckin" class="form-control" />
                <span asp-validation-for="DateCheckin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCheckout" class="control-label"></label>
                <input asp-for="DateCheckout" class="form-control" />
                <span asp-validation-for="DateCheckout" class="text-danger"></span>
            </div>
            @*<div class="form-group" >
                    <label asp-for="IdAccomodation" class="control-label"></label>
                    <input asp-for="IdAccomodation" class="form-control" />
                    <span asp-validation-for="IdAccomodation" class="text-danger"></span>
                </div>*@
            @*<div class="form-group">
                <label asp-for="IdUser" class="control-label"></label>
                <input asp-for="IdUser" class="form-control" />
                <span asp-validation-for="IdUser" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="@localizer["rezervisi"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



