@model IEnumerable<IznajmljivanjeSmestaja.Models.Reservation>

@{
    ViewData["Title"] = "Sve rezervacije";
}



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCheckin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCheckout)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.IdAccomodation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCheckin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCheckout)
                </td>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.IdAccomodation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUser)
                </td>
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "CancelReservation", new { id = item.Id })
                </td>*@
            </tr>
        }
    </tbody>
</table>
